
<div class="text-center" style="padding:50px 0">
  <div class="logo">Login</div>
  <!-- Main Form -->
  <div class="login-form-1">
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
       <%= form_for(:session, url: login_path, id: "login-form", class: "text-left") do |f| %> 
        <div class="login-group">
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, :id => "lg_email", :class => "text_input", :placeholder => "email" %> 
          </div>
          <div class="form-group">
            <%= f.label :password %>
             <%= f.password_field :password %> 
          </div>
        </div>
         <%= f.submit "Log in", class: "login-button" %><i class="fa fa-chevron-right"></i>
      </div>
       <% end %>
      <div class="etc-login-form">
        <p>New user? <%= link_to "Sign up now!", signup_path %></p> 
      </div>
    </div>
  </div>
</div>