<div class="container">
  <div class="user_details">
  <h2>Hello <%= @user.name %>!</h2>
  </div>
  <div class="user_profile">
    <%= link_to "Sort by Popularity", sort_path, :class=>"btn btn-default inline-block" , :id => "popular", remote: true %>
    <div class="list">
    <% @links.each do |link| %>
    <ul class="list-group">
      <li class="list-group-item hover">
        <span class="badge"><%= link.original_link %></span>
        <span><%= root_url + link.short_link %></span>
        <span class="linkactions">
        <%=form_for link, method: "put" do |f| %>
          <%= link_to "Details", statistics_path(link), :class=>"btn btn-default inline-block" %>
          <%= link_to "Edit", edit_link_path(link.id), :class=>"btn btn-default inline-block", remote: true %>
          <%= button_to "Delete", link_path(link.id), method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-default inline-block" %>
        <% end %>
        </span>
      </li>
    </ul>
    <% end %>
    </div>
  </div>
</div>

<%= render 'dialog' %>