<div class="container">
  <div class="user_details">
    <%= image_tag @user.gravatar_url, :class=>"circle user-thumb" %>
    <h2 class="username-div">Hello <%= (@user.name if @user) || "" %>!</h2>
    <p class="date-joined">joined on <%= @date_joined %></p>
    </div>
  <% if @links.any? %>
    <div class="row">
      <div class="col-lg-12">
        <%= link_to "Sort by Popularity", sort_path, :class=>"btn btn-warning inline-block right" , :id => "popular", remote: true %>
      </div>
    </div>
    <%= render 'links/user_links' %>
  <% else %>
    <p>You do not have any links yet</p>
  <% end %>
</div>

<%= render 'dialog' %>


 @user = User.find(user_params)
    require 'pry-nav'; binding.pry
    if logged_in? && @user == current_user 
      @date_joined = @user.created_at.strftime('%d/%m/%Y')
      @links = User.includes(:links).where('user_id = "ruby is awesome"')
      @links = current_user.links.most_recent if current_user.links
    else
      redirect_to root_path
    end