<% if @link.visits > 0 %>
<p>Total number of visitors to your link is <%= @link.visits %></p>
<p>Analysis by visitors' countries</p>
<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @country_frequencies.each do |country, count|%>
    <tr>
    <td><%= country %></td>
    <td><%= count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>Browser stats</p>
<table>
  <thead>
    <tr>
      <th>Browser</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @browser_types.each do |browser, count|%>
    <tr>
    <td><%= browser %></td>
    <td><%= count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>Device stats</p>
<table>
  <thead>
    <tr>
      <th>Device</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @devices_types.each do |device, count|%>
    <tr>
    <td><%= device %></td>
    <td><%= count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>You don't have any shortened link yet </p>
<% end %>



<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Country</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
  <% @country_frequencies.each do |country, count|%>
    <tr>
      <td><%= country %></td>
      <td><%= count %></td>
    </tr>
    <% end %>
  </tbody>
</table>