<div class="container">
<div class="row">
  <div class="stats">
  <% if @link.visits > 0 %>
    <h1>Analysis</h1>
  <div class="col-sm-3 divider country">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
      <th class="table_header" colspan="2">Country Based</th>
      </tr>
        <tr>
          <th>Country</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
      <% @country_frequencies.each do |country, count|%>
        <tr>
          <td><%= country %></td>
          <td><%= count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="col-sm-3 divider browser">
    <table class="table table-striped table-hover">
      <thead> 
        <tr>
          <th class="table_header" colspan="2">Browser Type</th>
        </tr>
        <tr>
          <th>Browser</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <% @browser_types.each do |browser, count|%>
        <tr>
        <td><%= browser %></td>
        <td><%= count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="col-sm-3 divider device">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="table_header" colspan="2">Device Type</th>
        </tr>
        <tr>
          <th>Device</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <% @devices_types.each do |device, count|%>
        <tr>
        <td><%= device %></td>
        <td><%= count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <% else %>
    <p>This link has not been visited</p>
    <% end %>
  </div>
  </div>
</div>